body{
    background-color: olive;

}

h1{
    color:white;
    background-color:blue;
    font-family: 'Franklin Gothic Medium';
    font-style:italic;
    font-variant:small-caps;
    font-weight:lighter;
    text-align:right;
    text-align: center;
}

p{
    font-weight:bold;
    font-size:1.5em;
    text-align:center;
    text-decoration:underline overline line-through;
}

a{
    text-decoration:none;
    color:white;
    background-color: red;
    font-size: 1.5em;
    padding:1px;
    border-style:solid;
    border-width:5px;
    border-radius:10%;
    border-color: rgb(6, 245, 134)
}

#one {
    width:250px;
    height:250px;
    margin-top:20px;
    background-color: rgb(173, 118, 16)
    padding-top: 4%;
    padding-left: 4%;
    border-style: double;
    border-left-width: 10px;
    border-right-width: 10px;
    border-radius: 50%;
    border-left-color: red;
    position: sticky;
    margin-top: 15%;
    top:15%;
    /*margin-top: 50%;
    margin-left: 60px;*/
}


#two {
    width:250px;
    height:1000px;
    background-color:blueviolet;
    border-style:dotted;
    position:relative;
    top:50%;
    margin-left:350px; 
    /*margin-top:50%;
    left:60px;*/
}


.font1 {
    color:rgb(173, 118, 16)
    font-size: 1em;
    font-family: sans-serif;
}